body{
    background-color: green;
}


.card {
  position: relative;
  text-align: center;
  padding-right: 10px;
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3em;
}

img{
    border-radius: 9px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  /*background-color: DodgerBlue;*/
}
/*.flex-container > div {*/
/*  background-color: #f1f1f1;*/
/*  width: 100px;*/
/*  margin: 10px;*/
/*  text-align: center;*/
/*}*/
.dataEntry{
   display: flex;
   align-items: baseline;
}
#numberOfCards{
  width: 50px;
  text-align: center;
}

button{
  margin: 5px;
}

#numberOfCards{
  margin: 5px;
}